*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
ul,ol
{list-style: none;}
a
{text-decoration: none;}


header {
   width: 100%;
   border-bottom: 1px solid #ddd; 
}
header .inner { 
   width: 1180px;
   height: 120px;
   margin: 0px auto;
   position: relative; 
}
header .inner h1 {
   position: absolute;
   left: 0px;
   bottom: 15px;
   color: #ffffff;
}
header .inner h1 a {
   font: bold 24px/1 "arial";
   color: #ffffff;
}


header .inner .util {
   position: absolute;
   top: 20px;
   right: 30px;
}
header .inner .util li {
   float: left; 
}
header .inner .util li a {
   display: block;
   font: 15px/1 "arial";
   color: #ffffff;
   padding: 0px 10px;
}


header .inner #gnb {
   position: absolute;
   bottom: 0px;
   right: 0px;
}
header .inner #gnb li {
    float: left;   
    }
header .inner #gnb li a {
   display: block; 
   font: bold 25px/1 "arial";
   color: #ffffff;
   padding: 20px 40px;
   transition: all 0.5s;
}


header .inner #gnb li a:hover {
   background: #ffffff;
   color: #000000;
}
footer p{
   color: white;
   position: relative;
   vertical-align: bottom;}
   
   footer {
     width: 100%;
     height: 50px;
   }
   
  footer .foot {
   display: flex;
  }

  iframe { display: block; margin: 0px auto; }

  figure h2 {
   color: white;
   text-align: center;
  }